<h4 class="dark:text-white text-2xl">Validate an ISBN</h4>
<form class="flex sm:flex-1 flex-col" (submit)="validateIsbn()">
  <label class="font-semibold text-black dark:text-white" for="isbnInput"
    >Enter an ISBN</label
  >
  <div class="flex flex-1 my-2">
    <input
      class="drop-shadow flex flex-1 rounded-md p-2"
      id="isbnInput"
      type="text"
      (input)="onChangeIsbnInput($event)"
    />
    <button
      class="drop-shadow bg-indigo-600 disabled:drop-shadow-none disabled:opacity-75 py-2 px-4 rounded-md text-white"
      [disabled]="!isbnInput || hasIsbnBeenValidated || isbnInputError"
      type="submit"
    >
      Validate
    </button>
  </div>
  <p class="text-red-600 dark:text-red-300">{{ isbnInputError }}</p>
</form>
<p
  class="drop-shadow-lg text-xl font-bold text-center my-4"
  [ngClass]="{
    'text-emerald-400': isIsbnValid,
    'text-red-300': !isIsbnValid
  }"
>
  {{ validationResult }}
</p>
