<div
  class="bg-gradient-to-r from-indigo-700 via-purple-700 from-10% via-30% to-pink-700 flex flex-1 flex-col items-center min-h-screen p-6"
>
  <div class="flex flex-col m-4">
    <h1
      class="drop-shadow font-bold font-sans text-2xl sm:text-3xl md:text-4xl text-center text-black dark:text-white"
    >
      ISBN Verifier - Objego Challenge
    </h1>
    <p class="text-black dark:text-white text-lg mt-4">
      The International Standard Book Number (ISBN) is a numeric commercial book
      identifier that is intended to be unique.
    </p>
  </div>
  <div class="flex flex-1 flex-col sm:flex-row items-center min-w-full">
    <app-isbn-verifier class="flex sm:flex-1 flex-col m-4"></app-isbn-verifier>
    <app-isbn-generator class="flex sm:flex-1 flex-col m-4"></app-isbn-generator>
  </div>
</div>
